environment:
  matrix:
    - PYTHON: C:\Python37-x64

init:
  - SET PATH=%PYTHON%;%PYTHON%\Scripts;%PATH%

install:
  - python -m pip install setuptools wheel
  - python -m pip install -r requirements.txt

build: false

test_script:
  - python -V
  - python -m pip -V
  - make html

cache:
  - '%LOCALAPPDATA%\pip\Cache'
